@import '~bootstrap/scss/bootstrap';

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
// header
.bg-blu{
    background-color: rgb(35, 146, 250);
}

ul{
    list-style-type: none;

}
a{
    text-decoration: none;
}

// Ul header
.ul-header {
    li {
        display: inline-block;
        margin: 10px;
        font-weight: bold;
        font-size: 16px;
        a {
            color: black;
        }
        
        a:hover {
            color: rgb(35, 146, 250);
            padding-bottom: 20px;
            border-bottom: 5px solid rgb(35, 146, 250);
        }
    }
}

.color-grey{
    color: grey;
}


#logo-header{
    width: 60px;
}

// img soot all'header
#sfondo-img {
    background-image: url(../../public/images/jumbotron.jpg);
    background-size: cover;
    width: 100%;
    height: 300px;
}

// colore dello sfondo del contenuto del main
.sfondo-nero{
    background-color: black;
    .card-main{
        max-height: 200px;
    }
    .effetto-hover:hover {
        filter: drop-shadow(0 0 4em white);
        transform: scale(1.2);
    }
    .load-more{
        background-color: rgb(35, 146, 250);
        color: white;
    }
    .load-more:hover{
        background-color: white;
        color: rgb(35, 146, 250);
        border: solid 1px;
        border-color: rgb(35, 146, 250);

    }
}

// Sfondo Footer
footer {
    background-image: url(../../public/images/footer-bg.jpg);
    background-size: cover;
    position: relative;
    width: 100%;

    span{
        color: rgb(35, 146, 250);
    }
    ul{
        a {
            color: grey;
        }
        a:hover {
            color: rgb(35, 146, 250);
        }

    }
    .img-logo {
        background-image: url(../../public/images/dc-logo-bg.png);
        width: 100%;
        height: auto;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin-left: 50px;
    }
}

// Parte sotto al footer
.bg-scuro{
    background-color: rgb(48, 48, 48);
    
    .sign-up{
        border: 1px solid;
        border-color: rgb(35, 146, 250);
        color: white;
    }
    .sign-up:hover
    {
        background-color: rgb(35, 146, 250);
        color: black;
    }
    .color-blu{
        color: rgb(35, 146, 250);
    }
    ul{
        li {
            display: inline-block;
            font-weight: bold;
            font-size: medium;
            margin-right: 5px;
            a {
                
                color: grey;
            }
            
            a:hover {
                color: rgb(35, 146, 250);

            }
            i{
                font-size: larger;
            }
        }
    }
}
.img-fumetto{
    width: 400px;
    
}

